{{> modules-header }}
{{> components-title }}
{{# show.tagline }}
    {{> elements-tagline }}
{{/ show.tagline }}
{{> components-author }}
{{> components-date-published }}
{{> modules-body-text }}
{{> components-categories }}
{{> modules-local-nav }}
{{> modules-footer }}