{{> modules-header }}
{{> components-title }}
{{> modules-body-text }}
{{# show.highlightArea }}
    {{> modules-highlight-area }}
{{/ show.highlightArea }}
{{ modules-highlight-area }}
{{> modules-page-metadata }}
{{> modules-footer }}