{{> modules-header }}
{{> components-title }}
{{> components-placeholder-block(name: "Related Program) }}
{{> components-text-block(title: "Job Description") }}
{{> elements-primary-link }}
{{> components-placeholder-block(name: "Date Posted (Month, DD, YYYY))"}}
{{> components-placeholder-block(name: "Closing Date (Month, DD, YYYY)")}}
{{> modules-page-metadata }}
{{> modules-footer }}