<div class = "placeholder">
    <h2>{{ title }}</h2>
    <div class = "g-3up">
        <div class = "gi">{{> {{cardType}} }}</div>
        <div class = "gi">{{> {{cardType}} }}</div>
        <div class = "gi">{{> {{cardType}} }}</div>
    </div>
</div>